
## What is the sum of all odd (positive) integers below 100?

In [6]:
## our code 
for n in range(1,100,2):
    print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [16]:
lst = []
for i in range(1,100):
    if i % 2 == 1:
        lst.append(i)
sum(lst)

2500

In [18]:
val = 0
for i in range(1,100):
    if i % 2 == 1:
        val += i
print(val)

2500

## Create a new list that contains all the animals whose name starts with the letter 'b'

In [27]:
animals = ['bear', 'cat' , 'dog', 'babboon', 'bobcat', 'zebra', 'aardvark', 'narwhal']

## your code 

animals_b = []
for animal in animals:
    if animal[0] is 'b':
        animals_b.append(animal)
print(animals_b)

['bear', 'babboon', 'bobcat']

## Create a new list that contains all the animals whose names are at least 6 letters long

In [29]:
## your code
long_animals = []
for i in animals:
    if len(i) >= 6:
        long_animals.append(i)
        
print(long_animals)

['babboon', 'bobcat', 'aardvark', 'narwhal']

In [31]:
type(movies)

list

In [36]:
movies[4].keys()

dict_keys(['name', 'imdb', 'category'])

In [30]:
# List of movies dictionaries:

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

#### What does each `i` represent in the following code snippet:

``` python 

for i in movies:
    pass
    ```

## What is the name of every movie with an imdb rating above 6?

In [40]:
high_rated_movies = []
for movie in movies:
    if movie["imdb"] > 6.0:
        high_rated_movies.append(movie["name"])
print(high_rated_movies)

['Usual Suspects', 'Hitman', 'Dark Knight', 'The Help', 'The Choice', 'Colonia', 'Joking muck', 'What is the name', 'Detective', 'We Two']

## What is the average IMDB score for Romance Movies?

In [43]:
romance_average = []
for movie in movies:
    if movie["category"] is "Romance":
        sum(movie[int("imdb")])

ValueError: invalid literal for int() with base 10: 'imdb'

## Add a key to every dictionary in movies "rotten" with the boolean true if the imdb rating is below 6

### What is the total length in seconds for the entire playlist?

In [3]:
lengths =  ['3:22', '2:10', '4:00', '2:29', '3:45', '3:39', '2:15', '5:45']