
## What is the sum of all odd (positive) integers below 100?

In [2]:
## our code 

lst = []
for i in range(1,100):
    if i % 2 == 1:
        lst.append(i)
        
sum(lst)

2500

In [3]:
val = 0 

for each_number in range(1,100):
    if i % 2 == 1:
        val += each_number

In [4]:
each_number

99

## Create a new list that contains all the animals whose name starts with the letter 'b'

In [5]:
animals = ['bear', 'cat' , 'dog', 'babboon', 'bobcat', 'zebra', 'aardvark', 'narwhal']

animals_b = []

for animal in animals:
    
    if animal[0] == 'b':
        animals_b.append(animal)
## your code

## Create a new list that contains all the animals whose names are at least 6 letters long

In [6]:
## your code 

long_animals = []

for i in animals:
    if len(i) >= 6:
        long_animals.append(i)
long_animals

['babboon', 'bobcat', 'aardvark', 'narwhal']

In [7]:
# List of movies dictionaries:

movies = [
{
"name": "Usual Suspects", 
"imdb": 7.0,
"category": "Thriller"
},
{
"name": "Hitman",
"imdb": 6.3,
"category": "Action"
},
{
"name": "Dark Knight",
"imdb": 9.0,
"category": "Adventure"
},
{
"name": "The Help",
"imdb": 8.0,
"category": "Drama"
},
{
"name": "The Choice",
"imdb": 6.2,
"category": "Romance"
},
{
"name": "Colonia",
"imdb": 7.4,
"category": "Romance"
},
{
"name": "Love",
"imdb": 6.0,
"category": "Romance"
},
{
"name": "Bride Wars",
"imdb": 5.4,
"category": "Romance"
},
{
"name": "AlphaJet",
"imdb": 3.2,
"category": "War"
},
{
"name": "Ringing Crime",
"imdb": 4.0,
"category": "Crime"
},
{
"name": "Joking muck",
"imdb": 7.2,
"category": "Comedy"
},
{
"name": "What is the name",
"imdb": 9.2,
"category": "Suspense"
},
{
"name": "Detective",
"imdb": 7.0,
"category": "Suspense"
},
{
"name": "Exam",
"imdb": 4.2,
"category": "Thriller"
},
{
"name": "We Two",
"imdb": 7.2,
"category": "Romance"
}
]

#### What does each `i` represent in the following code snippet:

``` python 

for i in movies:
    pass
    ```

## What is the name of every movie with an imdb rating above 6?

In [8]:
# for movie in movies:
#     print(movie["imdb"])

In [9]:
high_rated_movies = []
for i in movies:
    if i["imdb"] > 6.0:
        high_rated_movies.append(i["name"])
print(high_rated_movies)

['Usual Suspects', 'Hitman', 'Dark Knight', 'The Help', 'The Choice', 'Colonia', 'Joking muck', 'What is the name', 'Detective', 'We Two']

## Turn the above code into a function that accepts any number as an argument and returns the names of all movies above that number

In [18]:
def get_names(num):
    movies_above_num = []
    for i in movies:
        if i["imdb"] > num:
            movies_above_num.append(i["name"])
    return movies_above_num

In [19]:
get_names(4)

['Usual Suspects',
 'Hitman',
 'Dark Knight',
 'The Help',
 'The Choice',
 'Colonia',
 'Love',
 'Bride Wars',
 'Joking muck',
 'What is the name',
 'Detective',
 'Exam',
 'We Two']

In [23]:
def moviefilter(num):
    high_rated_movies = []
    for i in movies:
        if i["imdb"] > num:
            high_rated_movies.append(i["name"])
    return high_rated_movies
moviefilter(6)

['Usual Suspects',
 'Hitman',
 'Dark Knight',
 'The Help',
 'The Choice',
 'Colonia',
 'Joking muck',
 'What is the name',
 'Detective',
 'We Two']

In [24]:
high_rated_movies

['Usual Suspects',
 'Hitman',
 'Dark Knight',
 'The Help',
 'The Choice',
 'Colonia',
 'Joking muck',
 'What is the name',
 'Detective',
 'We Two',
 'Usual Suspects',
 'Hitman',
 'Dark Knight',
 'The Help',
 'The Choice',
 'Colonia',
 'Love',
 'Bride Wars',
 'Joking muck',
 'What is the name',
 'Detective',
 'Exam',
 'We Two']

In [25]:
print(5)

5

## What is the average IMDB score for Romance Movies?

In [36]:
category = 'Comedy'
scores = []

for movie in movies:
    if movie ['category'] == category:
        scores.append(movie['imdb'])
        
average = sum(scores) / len(scores)

average

7.2

In [46]:
def get_avg_for_category(category):

    scores = []

    for movie in movies:
        if movie ['category'] == category:
            scores.append(movie['imdb'])

    average = sum(scores) / len(scores)

    return average


get_avg_for_category("Suspense")
print(get_avg_for_category("Suspense"))

get_avg_for_category("Comedy")
print(get_avg_for_category("Comedy"))

8.1
7.2

## Add a key to every dictionary in movies "rotten" with the boolean true if the imdb rating is below 6

### What is the total length in seconds for the entire playlist?

In [ ]:
lengths =  ['3:22', '2:10', '4:00', '2:29', '3:45', '3:39', '2:15', '5:45']